* {
    margin: 0;
    padding: 0;
  }
  #user-list {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .profilephoto {
    max-width: 250px;
    border-radius: 40px;
  }
  .name {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.159);
    color: rgb(212, 200, 200);
  }
  #bottonpart {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }